<div>
    <div>
        <img [src]="imageURL" class="image" />
    </div>
    <div class="p-v-10">
        <label>Input 1 #multiple </label>
        <input type="file" name="media" multiple />
    </div>
    <div class="p-v-10">
        <label>Input 2 #multiple </label>
        <input type="file" name="media" multiple />
    </div>
    <div class="p-v-10">
        <label>Fetch API calls </label>
        <button type="submit" (click)="handleClickWithFileThroughFetch($event)">Submit</button>
        <button type="button" (click)="uploadBase64ImageThroughFetch($event)">Upload Face Base64 Image</button>
    </div>
    <div class="p-v-10">
        <label>Angular HttpClient API calls </label>
        <button type="submit" (click)="handleClickWithFileThroughHttpClient($event)">Submit</button>
        <button type="button" (click)="uploadBase64ImageThroughHttpClient($event)">Upload Face Base64 Image</button>
    </div>
</div>